* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: map-get($colors, appBackground);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.App {
    display: flex;
    height: 100vh;
}

.cards-container {
    display: flex;
    justify-content: center;
    width: 1232px;
    min-width: 1232px;
    height: 574px;
    margin: auto;
    border-radius: 20px;
    background-color: map-get($colors, mainLight);
}
