$colors: (
    appBackground: #e5e5e5,
    mainDark: #0b0641,
    mainLight: #ffffff,
    textDark: #35353f,
    textGrey: #a9a9aa,
    pinkDark: #ff1d89,
    pinkLight: #fff5fa,
);

$font-family: "Inter", "sans-serif";
